# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Docker
*.env

# Executables
*.exe
*.out
*.app

build/
install/
log/

obk_logs/
.env

# vscode
.vscode/

**/__pycache__/
